<section class="section">
    <article class="media">
        <div class="media-content">
            <div class="content has-text-centered">
                <p>
                    <strong class="is-size-1" style="font-family: serif;">Welcome to <span class="has-text-danger">wishlist</span> 🪄</strong>
                </p>
                <h4>
                <span class="has-text-danger">Wishlist</span> lets you find out what your friends want as a gift for their special occasion! <br>
                You can also add items into your wishlist and share them with your friends!
                </h4>
            </div>
            <div class="columns is-centered">
                <div class="column is-5">
                
                </div>
            </div>
        </div>
    </article>
    <br>
    <div class="column is-centered">
        <div class="column">
            <div class="card-image has-text-centered">
                <figure class="image is-inline-block">
                    <%# <div class="main-image"> %>
                        <%= image_tag "gifts.png", class: "is-rounded" %>
                    <%# </div> %>
                </figure>    
            </div>
        </div>
    </div>
</section>